:root {
  --color-gray-dark-1: #444;
  --color-gray-dark-2: #333;
  --color-gray-light-1: #888;
  --color-gray-light-2: #ccc;
  --color-gray-light-3: #eee;
}

$background-image-popup: linear-gradient(rgba(#000, .2), rgba(#000, .2));